fastapi==0.97.0
pydantic[dotenv]==1.10.9
python-decouple==3.8
asyncpg==0.27.0
sqlalchemy==2.0.16
# fastapi_utils==0.2.1
python-jose==3.3.0
passlib==1.7.4
pytest
pytest-xdist
pyjwt[crypto]
uvicorn
python-multipart==0.0.6
bcrypt==4.0.1
gunicorn==20.1.0
redis==4.3.3
fastapi-cache2[redis]==0.1.8